# Fly.io specific ignores
fly.toml

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

# Allow specific files back in (for Tailwind CSS)
!node_modules/tailwindcss/stubs/**/*
